@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Shalimar&display=swap');


.Nav-container {
    background-color: grey;
    color: black;
    position: absolute;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    
}
.Nav-container h1 {
    font-family: 'Shalimar', cursive;
}
ul {
    list-style-type: none;

}

.Nav-container, .Nav-center ul, .Nav-right ul {
    display: flex;
    justify-content: space-around;
}

.Nav-center ul li, .Nav-right ul li, .Nav-left h3 {
    margin: 15%;
} 
.Nav-right ul li {
    margin: 30%;
}

.Nav-center ul li:hover{
    font-size: 118%;
    text-decoration: underline;
    
}
